

  <h2>User Profile Card</h2>
<div class="card" *ngIf="contactProfile">
  <img *ngIf="contactProfile" [src]="ImgPath(contactProfile.avatar)" style="width:100%">
  <div >
    <ul class="list-group">    
      <li class="list-group-item"><strong>Name : </strong>{{contactProfile.name}} 
      <li class="list-group-item"><strong>Email : </strong>{{contactProfile.email}}</li>
      <li class="list-group-item"><strong>Phone Number : </strong>{{contactProfile.phoneNumber}}</li>
    </ul>
    <div class="row">
        <div class="col-sm-4">
            <button  title="Add to contacts" (click)="Add(contactProfile.id)" class="btn btn-success" *ngIf=!contactProfile.userInContact [disabled]="contactProfile.status" ><i class="fa fa-plus"></i></button>  
            <button  title="Remove from contacts" (click)="Delete(contactProfile.id)" class="btn btn-danger" *ngIf=contactProfile.userInContact ><i class="fa fa-close"></i></button>     
        </div> 
        <div class="col-sm-3">
                <button title="Send message"  [routerLink]="['/home/dialog',contactProfile.id]" [disabled]="contactProfile.status"  class="btn btn-warning" ><i class=" fa fa-comments-o"></i></button>   
              </div> 
        <div class="col-sm-4">
          <button title ="Add to blacklist" (click)="AddInBlock(contactProfile.id)" class="btn btn-secondary" *ngIf=!contactProfile.status ><i class="fa fa-lock"></i></button> 
          <button title ="Remove from blacklist" (click)="DeleteFromBlock(contactProfile.id)" class="btn btn-light" *ngIf=contactProfile.status ><i class="fa fa-unlock"></i></button>  
        </div>   
    </div>   
    <!-- <form #form='ngForm' class="mb-4" autocomplete="off" (submit)="save(form)"  >
        <div class="form-group">
          <label>Name</label>
          <input class="form-control" #Name="ngModel" name="Name" [(ngModel)]="editModel.Name" required>
        </div>
        <div class="form-row" >
          <div class="form-group col-md-6">
            <button type="submit" class="btn btn-lg btn-block" [disabled]="form.invalid" >Save</button>
          </div>
          <div class="col-md-6">
              <button  type="button" [routerLink]="['/home/profile']" class="btn btn-lg btn-block cancel">Cancel</button>
              </div>
        </div>
      </form>
         -->


