<!-- <img src="/assets/img/123.jpg" class="css-adaptive"> -->
<form #form='ngForm' class="mb-4" autocomplete="off" (submit)="saveUserName(form)"  >
  <div class="form-group">
    <label>Name</label>
    <input class="form-control" #Name="ngModel" name="Name" [(ngModel)]="editModel.Name" maxLength="50" required>
  </div>
  <div class="form-row" >
    <div class="form-group col-md-6">
      <button type="submit" class="btn btn-lg btn-block" [disabled]="form.invalid" >Save</button>
    </div>
    <div class="col-md-6">
        <button  type="button" [routerLink]="['/home/profile']" class="btn btn-lg btn-block cancel">Cancel</button>
        </div>
  </div>
</form>
