.cont-black {
    display: inline-grid;
    grid-template-rows: 200;
    grid-row-gap: 20px;
 grid-column-gap: 40px; 
    width: 70%;
    margin-left: 60px;
    list-style: none;
    align-content:center;
  }
  
  .cont-black>.item {
    padding: 20px;
    padding-top: 0px;

  background-color :#0a0a0a;
    align-content:center;
    word-wrap:break-word;
    word-break: break-all;
    outline: 2px solid rgb(255, 255, 255); 
  }
  img {
    object-fit: cover;
    border-radius:50%;
    border: 1px solid rgb(3, 3, 3);
    width: 100px;
    height: 100px;
   align-self: center
  }
  .cont-black{
    padding-top: 50px;
    padding-left: 0;
    text-align: center;
}

.result{
    margin-bottom: 50px;
    margin-left: 90px;
  } 
  .buttons{
    margin-top: 30px;
  }
  .my-pagination /deep/ .ngx-pagination .current {
    margin: 20px;
       background: black;
     
     }
     .time_online{
      color: white;
      display: block;
      font-size: 14px;
      text-align: right;
      margin-bottom: 10px;
     
     }
     .r{
      padding-top: 50px;
        }
     