
<h2>My Profile</h2>
<div class="row profile">
  <div class="col-md-5">
    <img *ngIf="userDetails" [src]="createImgPath(userDetails.avatar)" class="round">
  </div>
  <div class="col-md-7" *ngIf="userDetails">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-10">
            <strong>Name : </strong>{{userDetails.name}}
          </div>
          <div class="col-sm-2">
            <a [routerLink]="['/home/profile/edit']" class="btn btn-default" data-toggle="button" role="button">
              <i title="Edit" class="fas fa-edit"></i></a>
          </div>
        </div>
      </li>
      <li class="list-group-item"><strong>Email : </strong>{{userDetails.email}}</li>
      <li class="list-group-item"><strong>Phone Number : </strong>{{userDetails.phoneNumber}}</li>
    </ul>
    <router-outlet></router-outlet>
  </div>
</div>
  <div class="row ">
    <div class="col-sm-3">
        <app-upload>(onUploadFinished)="uploadFinished($event)"</app-upload>
  </div>  